<!DOCTYPE html>
<html>
 <head>
   <title>students api</title>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="{% static 'js/app.js' %}"></script>
 </head>
<body>
<div>
   <button class="apireq">click me </button> 
</div>
<div id="jsonresp" style="margin-top: 100px">
   <p><label> song :</label> <span id="sgname"></span></p>
   <p><label> singer :</label> <span id="sigrname"></span></p>
   <p><label> age :</label> <span id="sigrbirthday"></span></p>
  
</div>
    <script type="text/javascript"> 
    
    </script>
</body>
</html>